#export NVM_DIR={{nvm_install_dir}}
export NVM_DIR={{nvm_path}}
#export NPM_CONFIG_PREFIX={{node_path}}
export NODE_PATH={{node_path}}
export NVM_SCRIPT={{nvm_install_dir}}/nvm.sh
source {{nvm_install_dir}}/nvm.sh
